<%= form_with model: Tarefa.new, url: tarefas_path, local: true do |form| %>
  <%= form.hidden_field :prazo, value: dia, data: { "modal-tarefa-target": "prazo" } %>
  <%= form.hidden_field :redirect_to, value: tarefas_hoje_path %>
  <div class="mb-3">
    <%= form.label :titulo, class: "form-label" %>
    <%= form.text_field :titulo, class: "form-control",required: true,maxlength: 40 %>
  </div>
  <div class="mb-3">
    <%= form.label :descricao, class: "form-label" %>
    <%= form.text_area :descricao, class: "form-control", maxlength: 250 %>
  </div>
  <div class="mb-3">
    <%= form.label :lista_id, "Lista", class: "form-label" %>
    <%= form.collection_select :lista_id, current_usuario.listas, :id, :titulo, {}, class: "form-select",required: true %>
  </div>
  <div class="mt-4 d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <%= form.submit "Adicionar tarefa", class: "btn btn-primary" %>
  </div>
<% end %>
