<h1>Em breve</h1>
<div class="d-flex justify-content-center align-items-center mb-4 gap-2">

  <%= link_to "<", tarefas_path(data: (@data_inicial - 1).to_s, show_completed: params[:show_completed]), class: "btn btn-outline-light btn-sm px-2" %>

  <%= link_to "Hoje", tarefas_path(data: Date.today.to_s, show_completed: params[:show_completed]), class: "btn btn-outline-danger btn-sm mx-2" %>

  <%= link_to ">", tarefas_path(data: (@data_inicial + 1).to_s, show_completed: params[:show_completed]), class: "btn btn-outline-light btn-sm px-2" %>

  <%= form_with url: tarefas_path, method: :get, local: true, class: "ms-3 d-inline-flex align-items-center gap-2" do |form| %>
    <%= form.date_field :data, value: @data_inicial, class: "form-control form-control-sm" %>
    <%= form.submit "Filtrar", class: "btn btn-outline-danger btn-sm" %>
  <% end %>
</div>


<%= render "tarefas_kanban"%>